<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>上海市</key>
	<dict>
		<key>上海</key>
		<string>不夜城、魔都</string>
	</dict>
	<key>云南省</key>
	<dict>
		<key>个旧</key>
		<string>锡都</string>
		<key>大理</key>
		<string>东方瑞士、文献名邦</string>
		<key>安宁</key>
		<string>连然金方，螳川宝地</string>
		<key>开远</key>
		<string>滇南重镇、天然温室</string>
		<key>昆明</key>
		<string>春城、花之都、天然花园</string>
		<key>昭通</key>
		<string>小昆明、果城</string>
		<key>曲靖</key>
		<string>麒麟城、滇东重镇</string>
		<key>楚雄</key>
		<string>省会屏障</string>
		<key>玉溪</key>
		<string>云烟之乡、花灯之乡</string>
	</dict>
	<key>内蒙古自治区</key>
	<dict>
		<key>临河</key>
		<string>塞上粮仓</string>
		<key>乌兰浩特</key>
		<string>红色的城市</string>
		<key>乌海</key>
		<string>乌金之海、塞外煤都</string>
		<key>二连浩特</key>
		<string>幻景之城、祖国北大门、陆地港、恐龙之乡</string>
		<key>包头</key>
		<string>鹿城、草原钢城</string>
		<key>呼和浩特</key>
		<string>青色之城</string>
		<key>扎兰屯</key>
		<string>塞外苏杭、内蒙小杭州</string>
		<key>满洲里</key>
		<string>欧亚大陆桥</string>
		<key>牙克石</key>
		<string>被冲毁的河岸</string>
		<key>通辽</key>
		<string>富饶的土地</string>
		<key>锡林浩特</key>
		<string>高原之城</string>
		<key>霍林郭勒</key>
		<string>美食之河、草原煤城</string>
	</dict>
	<key>北京市</key>
	<dict>
		<key>北京</key>
		<string>燕京、京师、帝都</string>
	</dict>
	<key>吉林省</key>
	<dict>
		<key>吉林</key>
		<string>沿江的地方、船厂、化工城</string>
		<key>和龙</key>
		<string>两山夹一江</string>
		<key>图们</key>
		<string>万水之源</string>
		<key>大安</key>
		<string>鱼米之乡、骏马之乡</string>
		<key>延吉</key>
		<string>歌舞之乡、北国足球之乡</string>
		<key>敦化</key>
		<string>千年古都百年县</string>
		<key>梅河口</key>
		<string>立体宝库、鱼米之乡</string>
		<key>榆树</key>
		<string>大豆之乡、东北粮仓</string>
		<key>洮南</key>
		<string>千年古城、百年府县</string>
		<key>珲春</key>
		<string>鸡鸣闻三国，犬吠惊三疆</string>
		<key>白山</key>
		<string>立体资源宝库</string>
		<key>舒兰</key>
		<string>果实之城</string>
		<key>辽源</key>
		<string>吉林煤城</string>
		<key>长春</key>
		<string>汽车城、塞北春城、电影城、森林之城</string>
	</dict>
	<key>四川省</key>
	<dict>
		<key>万源</key>
		<string>秦川锁钥</string>
		<key>南充</key>
		<string>果城、丝绸之乡、川北重镇</string>
		<key>威远</key>
		<string>婆城</string>
		<key>宜宾</key>
		<string>万里长江第一城、名酒之都、戎城</string>
		<key>广元</key>
		<string>女皇故里 川北门户</string>
		<key>广汉</key>
		<string>川西明珠</string>
		<key>彭州</key>
		<string>蜀中膏脂、天府金盆</string>
		<key>成都</key>
		<string>锦城、芙蓉城、天府之国</string>
		<key>攀枝花</key>
		<string>富甲天下聚宝盆、钒钛之都</string>
		<key>江油</key>
		<string>小成都、水泥之乡</string>
		<key>泸州</key>
		<string>酒城</string>
		<key>简阳</key>
		<string>天府雄州</string>
		<key>绵竹</key>
		<string>小成都</string>
		<key>绵阳</key>
		<string>剑门锁钥、蜀道咽喉</string>
		<key>自贡</key>
		<string>盐都、恐龙之乡</string>
		<key>西昌</key>
		<string>卫星城、月城</string>
		<key>资阳</key>
		<string>三贤文化</string>
		<key>遂宁</key>
		<string>东川巨邑、川中重镇、小成都、纺织城</string>
		<key>邛崃</key>
		<string>天府南来第一州</string>
		<key>阆中</key>
		<string>江山奇秀闻天下</string>
		<key>雅安</key>
		<string>雨城、川藏门户、民族走廊</string>
	</dict>
	<key>天津市</key>
	<dict>
		<key>天津</key>
		<string>津沽、津门、津城、九河下梢、河海要冲、津沽大地、渤海之滨，海河之津</string>
	</dict>
	<key>宁夏回族自治区</key>
	<dict>
		<key>银川</key>
		<string>塞上江南</string>
	</dict>
	<key>安徽省</key>
	<dict>
		<key>六安</key>
		<string>皋城</string>
		<key>合肥</key>
		<string>淮右襟喉、江南齿唇，江南之首，中原之喉</string>
		<key>桐城</key>
		<string>七省通衢</string>
		<key>淮北</key>
		<string>淮北煤城</string>
		<key>滁州</key>
		<string>皖东门户</string>
		<key>芜湖</key>
		<string>鸠江</string>
		<key>蚌埠</key>
		<string>珠城</string>
		<key>铜陵</key>
		<string>江南铜都</string>
		<key>马鞍山</key>
		<string>江南钢城</string>
		<key>黄山</key>
		<string>徽州</string>
	</dict>
	<key>山东省</key>
	<dict>
		<key>临沂</key>
		<string>齐鲁之襟喉</string>
		<key>乐陵</key>
		<string>枣乡</string>
		<key>乳山</key>
		<string>金岭银滩</string>
		<key>任城</key>
		<string>苗木之乡、运河明珠</string>
		<key>嘉祥</key>
		<string>石雕之乡</string>
		<key>威海</key>
		<string>海上花园城</string>
		<key>寿光</key>
		<string>蔬菜之乡、盐都</string>
		<key>德州</key>
		<string>九达天衢、神京门户</string>
		<key>招远</key>
		<string>金城天府、银丝之乡</string>
		<key>文登</key>
		<string>天福胜地</string>
		<key>日照</key>
		<string>欧亚大陆（又一）桥头堡</string>
		<key>曲阜</key>
		<string>孔子之乡、礼仪之邦</string>
		<key>栖霞</key>
		<string>果都</string>
		<key>梁山</key>
		<string>武术之乡</string>
		<key>济南</key>
		<string>泉城</string>
		<key>济宁</key>
		<string>孔孟之乡、礼仪之邦、运河之都、江北苏州</string>
		<key>滨州</key>
		<string>渤海明珠</string>
		<key>潍坊</key>
		<string>风筝城</string>
		<key>烟台</key>
		<string>葡萄酒城</string>
		<key>聊城</key>
		<string>凤凰城、江北都会</string>
		<key>莱州</key>
		<string>胶东粮仓</string>
		<key>莱阳</key>
		<string>梨乡</string>
		<key>菏泽</key>
		<string>书画之乡、武术之乡、戏曲之乡、牡丹城</string>
		<key>蓬莱</key>
		<string>人间仙景</string>
		<key>青岛</key>
		<string>岛城</string>
	</dict>
	<key>山西省</key>
	<dict>
		<key>临汾</key>
		<string>膏脂之地、棉麦之乡、黄土高原花果城</string>
		<key>介休</key>
		<string>三贤故里</string>
		<key>大同</key>
		<string>煤城、煤海</string>
		<key>太原</key>
		<string>龙城、霸府、中原北门、四塞之地</string>
		<key>晋城</key>
		<string>黑色宝库</string>
		<key>河津</key>
		<string>古耿王都</string>
		<key>运城</key>
		<string>三藩都会 河东 凤凰城 圣惠城 关公故里</string>
		<key>长治</key>
		<string>与天同党</string>
		<key>阳泉</key>
		<string>黑（无烟煤）白（铝矾土）黄（硫铁矿）城</string>
		<key>霍州</key>
		<string>中州重镇、河东屏障、物华天宝数霍州</string>
	</dict>
	<key>广东省</key>
	<dict>
		<key>乐昌</key>
		<string>广东北大门</string>
		<key>化州</key>
		<string>橘乡</string>
		<key>南雄</key>
		<string>恐龙之乡、黄烟之乡、革命之乡</string>
		<key>广州</key>
		<string>穗城、穗垣、仙城、五羊城、妖都</string>
		<key>惠州</key>
		<string>鹅城</string>
		<key>梅州</key>
		<string>客都</string>
		<key>汕头</key>
		<string>酡岛、华南要冲、粤东门户、侨乡</string>
		<key>深圳</key>
		<string>鹏城</string>
		<key>珠海</key>
		<string>百岛之城</string>
		<key>茂名</key>
		<string>南方油城（过去）</string>
		<key>韶关</key>
		<string>绿色宝库、有色金属之乡</string>
	</dict>
	<key>广西壮族自治区</key>
	<dict>
		<key>凭祥</key>
		<string>祖国南大门</string>
		<key>北流</key>
		<string>荔枝之乡、陶瓷之乡、水泥之乡、泥水（建筑业）之乡</string>
		<key>南宁</key>
		<string>绿色城市、花园城市</string>
		<key>柳州</key>
		<string>龙城、桂中商埠</string>
		<key>桂林</key>
		<string>山水甲天下</string>
		<key>梧州</key>
		<string>山城水都、水上门户、广西东大门</string>
		<key>玉林</key>
		<string>岭南美玉、胜景如林</string>
		<key>百色</key>
		<string>鹅城、凤凰城</string>
		<key>贵港</key>
		<string>糖城、荷城</string>
	</dict>
	<key>江苏省</key>
	<dict>
		<key>丹阳</key>
		<string>江南文物之邦</string>
		<key>仪征</key>
		<string>风物淮南第一洲</string>
		<key>兴化</key>
		<string>水乡、锅底洼</string>
		<key>南京</key>
		<string>六朝古都、石头城、金陵、古城虎踞、钟山龙盘</string>
		<key>句容</key>
		<string>南京东南门户</string>
		<key>宜兴</key>
		<string>中国陶都、洞天世界</string>
		<key>常州</key>
		<string>八邑重镇，中吴要辅、龙城</string>
		<key>常熟</key>
		<string>水乡</string>
		<key>徐州</key>
		<string>彭城、五省通衢</string>
		<key>扬州</key>
		<string>芜城</string>
		<key>无锡</key>
		<string>小上海</string>
		<key>昆山</key>
		<string>鹿城</string>
		<key>江阴</key>
		<string>延陵古邑、春申旧封</string>
		<key>泰州</key>
		<string>汉唐古郡、淮海名区</string>
		<key>淮安</key>
		<string>运河之都、淮水东南第一州、中国新盐都</string>
		<key>苏州</key>
		<string>姑苏城、上有天堂，下有苏杭</string>
		<key>连云港</key>
		<string>淮口巨镇、东南名郡、欧亚大陆桥头堡</string>
		<key>靖江</key>
		<string>苏北小江南</string>
	</dict>
	<key>江西省</key>
	<dict>
		<key>上饶</key>
		<string>豫章第一门户</string>
		<key>丰城</key>
		<string>剑邑、煤海粮仓金丰城</string>
		<key>九江</key>
		<string>浔阳、九省通衢、江州</string>
		<key>井冈山</key>
		<string>革命摇篮</string>
		<key>南昌</key>
		<string>灌婴城、灌城、英雄城</string>
		<key>宜春</key>
		<string>湖赣孔道、吴楚咽喉</string>
		<key>德兴</key>
		<string>百里林区、绿色宝库</string>
		<key>抚州</key>
		<string>才子之乡</string>
		<key>景德镇</key>
		<string>瓷都</string>
		<key>樟树</key>
		<string>药都、酒乡、盐化城</string>
		<key>瑞金</key>
		<string>红色首都</string>
		<key>萍乡</key>
		<string>江南煤城</string>
	</dict>
	<key>河北省</key>
	<dict>
		<key>丰南</key>
		<string>润泽丰美</string>
		<key>保定</key>
		<string>北京南大门</string>
		<key>安国</key>
		<string>药都</string>
		<key>廊坊</key>
		<string>京津走廊</string>
		<key>张家口</key>
		<string>京师门户、京都锁钥、塞上皮都</string>
		<key>晋州</key>
		<string>河北棉乡、冀中宝地</string>
		<key>沧州</key>
		<string>武术之乡</string>
		<key>泊头</key>
		<string>梨枣之乡、中国鸭梨第一乡</string>
		<key>涿州</key>
		<string>天下第一州</string>
		<key>石家庄</key>
		<string>燕晋咽喉</string>
		<key>衡水</key>
		<string>水陆码头</string>
		<key>辛集</key>
		<string>直隶一集</string>
		<key>迁安</key>
		<string>铁迁安、北迁南宣</string>
		<key>遵化</key>
		<string>三山两川</string>
		<key>邯郸</key>
		<string>冀南明珠、中原粮仓</string>
		<key>霸州</key>
		<string>冀中金三角</string>
		<key>鹿泉</key>
		<string>山水甲恒（恒山）南</string>
	</dict>
	<key>河南省</key>
	<dict>
		<key>信阳</key>
		<string>淮河第一城、楚头豫尾</string>
		<key>南阳</key>
		<string>帝乡 南都</string>
		<key>安阳</key>
		<string>豫北门户、商朝之都</string>
		<key>巩义</key>
		<string>东都锁钥、河南第一县</string>
		<key>开封</key>
		<string>七朝古都</string>
		<key>洛阳</key>
		<string>九朝古都、千年帝都，牡丹花城</string>
		<key>灵宝</key>
		<string>金城、果乡</string>
		<key>登封</key>
		<string>文物之乡</string>
		<key>禹州</key>
		<string>天下名都</string>
		<key>荥阳</key>
		<string>东京襟带、三秦咽喉</string>
		<key>许昌</key>
		<string>烟城</string>
		<key>郑州</key>
		<string>绿城、铁路心脏、九州腹地、二七名城</string>
		<key>驻马店</key>
		<string>交通要塞、豫南重镇</string>
	</dict>
	<key>浙江省</key>
	<dict>
		<key>东阳</key>
		<string>百工之乡、人才市</string>
		<key>义乌</key>
		<string>小商品城、糖乡</string>
		<key>余杭</key>
		<string>丝绸之府、鱼米之乡、花果之地、文物之邦</string>
		<key>嘉兴</key>
		<string>丝绸之府、水乡泽国、鱼米之乡</string>
		<key>宁波</key>
		<string>甬城</string>
		<key>富阳</key>
		<string>鱼米之乡</string>
		<key>嵊州</key>
		<string>越剧故乡</string>
		<key>平湖</key>
		<string>金平湖</string>
		<key>慈溪</key>
		<string>浙江棉库粮仓</string>
		<key>杭州</key>
		<string>上有天堂，下有苏杭、武林、丝绸之府</string>
		<key>永康</key>
		<string>五金城</string>
		<key>江山</key>
		<string>东南锁钥、入闽咽喉</string>
		<key>海宁</key>
		<string>皮具之都、潮城</string>
		<key>温州</key>
		<string>鹿城</string>
		<key>湖州</key>
		<string>丝绸之府、鱼米之乡</string>
		<key>绍兴</key>
		<string>蠡城</string>
		<key>舟山</key>
		<string>千岛之城、祖国渔都</string>
		<key>衢州</key>
		<string>柯城</string>
	</dict>
	<key>海南省</key>
	<dict>
		<key>文昌</key>
		<string>文化之乡、椰子之乡、排球之乡</string>
		<key>琼山</key>
		<string>琼州第一县</string>
	</dict>
	<key>湖北省</key>
	<dict>
		<key>丹江口</key>
		<string>江汉明珠</string>
		<key>仙桃</key>
		<string>江汉明珠、鄂中宝地</string>
		<key>十堰</key>
		<string>汽车城</string>
		<key>咸宁</key>
		<string>桂花之乡、楠竹之乡、茶叶之乡、</string>
		<key>天门</key>
		<string>三乡宝地</string>
		<key>宜城</key>
		<string>八省通衢</string>
		<key>宜昌</key>
		<string>三峡门户、川鄂咽喉</string>
		<key>当阳</key>
		<string>鱼米之乡</string>
		<key>枣阳</key>
		<string>帝乡</string>
		<key>武汉</key>
		<string>九省通衢、火炉、江城、大武汉、东方芝加哥</string>
		<key>武穴</key>
		<string>鄂东门户</string>
		<key>石首</key>
		<string>鱼米之乡</string>
		<key>老河口</key>
		<string>汉水明珠</string>
		<key>荆州</key>
		<string>三楚名镇</string>
		<key>荆门</key>
		<string>荆楚门户</string>
		<key>襄樊</key>
		<string>四省通衢</string>
		<key>赤壁</key>
		<string>竹乡、茶乡、麻乡、鱼米之乡、千年古县，楚天新市</string>
		<key>随州</key>
		<string>湖北粮仓、汉襄咽喉、荆豫要冲、鄂北重镇</string>
		<key>黄石</key>
		<string>百里矿山</string>
	</dict>
	<key>湖南省</key>
	<dict>
		<key>临湘</key>
		<string>湘北门户</string>
		<key>冷水江</key>
		<string>世界锑都</string>
		<key>常宁</key>
		<string>油茶之乡、有色金属之乡</string>
		<key>怀化</key>
		<string>油茶之乡、五溪、鹤城</string>
		<key>沅江</key>
		<string>鱼米之乡、水乡橘城</string>
		<key>津市</key>
		<string>九澧门户、湘北明珠</string>
		<key>洪江</key>
		<string>小南京</string>
		<key>湘乡</key>
		<string>龙城</string>
		<key>湘潭</key>
		<string>锰都、莲城</string>
		<key>益阳</key>
		<string>竹城</string>
		<key>衡阳</key>
		<string>湖南门户、雁城</string>
		<key>资兴</key>
		<string>江南煤田</string>
		<key>郴州</key>
		<string>湘南胜地、湖南明珠</string>
		<key>醴陵</key>
		<string>瓷城、湘东门户</string>
		<key>长沙</key>
		<string>星城、潭城、湘绣之乡</string>
	</dict>
	<key>澳门特别行政区</key>
	<dict>
		<key>澳门</key>
		<string>东方拉斯维加斯、赌城、梳打埠</string>
	</dict>
	<key>甘肃省</key>
	<dict>
		<key>兰州</key>
		<string>金城</string>
		<key>天水</key>
		<string>秦州、成纪、羲皇故里、陇上江南、龙城</string>
		<key>张掖</key>
		<string>甘州</string>
		<key>武威</key>
		<string>凉州</string>
		<key>酒泉</key>
		<string>肃州</string>
	</dict>
	<key>福建省</key>
	<dict>
		<key>南平</key>
		<string>理学之邦、绿色宝库</string>
		<key>厦门</key>
		<string>鹭岛、鹭江</string>
		<key>安溪</key>
		<string>茶乡、中国茶都</string>
		<key>建瓯</key>
		<string>金瓯宝地、绿色金库</string>
		<key>建阳</key>
		<string>潭城之城、潭阳</string>
		<key>晋江</key>
		<string>侨乡、海滨邹鲁</string>
		<key>武夷山</key>
		<string>世界生物之窗</string>
		<key>永安</key>
		<string>燕江、燕城</string>
		<key>泉州</key>
		<string>鲤城、刺桐城</string>
		<key>漳州</key>
		<string>芗城、花果之乡、华侨之乡、水仙花之乡</string>
		<key>漳平</key>
		<string>金山银水绿宝</string>
		<key>石狮</key>
		<string>闽南明珠、服装城</string>
		<key>福安</key>
		<string>韩城</string>
		<key>福州</key>
		<string>温泉城、花果鱼米之乡、三山、榕城</string>
		<key>福清</key>
		<string>玉融</string>
		<key>莆田</key>
		<string>荔城、田径之乡、侨乡、戏曲之乡、鞋城</string>
		<key>邵武</key>
		<string>铁城、武夷山下一明珠</string>
		<key>龙岩</key>
		<string>金山银水</string>
	</dict>
	<key>西藏自治区</key>
	<dict>
		<key>拉萨</key>
		<string>日光城</string>
	</dict>
	<key>贵州省</key>
	<dict>
		<key>六盘水</key>
		<string>西南煤海</string>
		<key>凯里</key>
		<string>苗家谷仓</string>
		<key>安顺</key>
		<string>黔之腹，滇之喉</string>
		<key>毕节</key>
		<string>川滇黔要冲</string>
		<key>清镇</key>
		<string>珠联壁合之地</string>
		<key>福泉</key>
		<string>磷海</string>
		<key>贵阳</key>
		<string>第二春城</string>
		<key>赤水</key>
		<string>楠竹之乡</string>
		<key>遵义</key>
		<string>酒乡</string>
		<key>铜仁</key>
		<string>黔东重镇、黔东门户</string>
	</dict>
	<key>辽宁省</key>
	<dict>
		<key>丹东</key>
		<string>红色东方之城</string>
		<key>大连</key>
		<string>足球城</string>
		<key>抚顺</key>
		<string>煤都</string>
		<key>本溪</key>
		<string>煤铁之城</string>
		<key>沈阳</key>
		<string>盛京</string>
		<key>海城</key>
		<string>苹果之乡</string>
		<key>瓦房店</key>
		<string>苹果之乡、轴承之乡、金刚石基地</string>
		<key>营口</key>
		<string>东方贸易良港</string>
		<key>阜新</key>
		<string>煤海（过去的称谓）</string>
		<key>鞍山</key>
		<string>钢都</string>
	</dict>
	<key>重庆市</key>
	<dict>
		<key>万州</key>
		<string>江城</string>
		<key>丰都</key>
		<string>鬼城</string>
		<key>合川</key>
		<string>小重庆</string>
		<key>江津</key>
		<string>柑橘之乡、瀑布之乡</string>
		<key>涪陵</key>
		<string>榨菜之乡</string>
		<key>重庆</key>
		<string>山城、雾都、火炉 、桥都、江城</string>
	</dict>
	<key>陕西省</key>
	<dict>
		<key>汉中</key>
		<string>天汉西北小江南</string>
		<key>渭南</key>
		<string>三秦要道八省通衢、陕西东大门</string>
		<key>西安</key>
		<string>十三朝故都帝王之州</string>
	</dict>
	<key>香港特别行政区</key>
	<dict>
		<key>香港</key>
		<string>东方之珠、香江</string>
	</dict>
	<key>黑龙江省</key>
	<dict>
		<key>东港</key>
		<string>鱼米之乡</string>
		<key>五大连池</key>
		<string>天然火山公园</string>
		<key>伊春</key>
		<string>林都、红松故乡</string>
		<key>同江</key>
		<string>老屋</string>
		<key>哈尔滨</key>
		<string>北方音乐之城、冰城、晒鱼网的场子</string>
		<key>大庆</key>
		<string>石油城</string>
		<key>安达</key>
		<string>奶牛之乡、填不满的安达站、朋友</string>
		<key>富锦</key>
		<string>江边岗地、鱼米之乡</string>
		<key>灯塔</key>
		<string>北国鱼米之乡</string>
		<key>牡丹江</key>
		<string>小江南、卫生城</string>
		<key>穆棱</key>
		<string>百里金川</string>
		<key>齐齐哈尔</key>
		<string>鹤城、天然牧场</string>
	</dict>
</dict>
</plist>
